.provision-access-container {
  width: 100%
}

.provision-access-header {
  background-color: #9E77F3;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.provision-access-title {
  margin-right: 10rem;
  padding: 0;
}

.provision-access-input {
  width: 15rem;
}
