.full-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0eef5;
}

.product-information-container {
  display: flex;
  //flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 1rem;
  //align-items: center;

  .product-information-left {
    width: 30%;

    .product-image {
      width: 100%;
    }

    .no-product.image {
      width: 100%;
      text-align: center;
    }
  }

  .product-information-right {
    width: 70%;
    padding: 0 1rem 0 3%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;

    .product-detail {
      display: flex;
      justify-content: start;
      //height: 5rem;
    }

    .product-attribute-label {
      min-width: 5.5rem;
      margin-right: 2rem;
      text-align: start;
      font-weight: bold;
    }

    .product-light {
      text-align: start;
      font-weight: bold;
    }

    .product-conditions {
      display: flex;
      font-weight: bold;
      //margin-top: 1rem;
      margin-bottom: 1rem;
      //height: 5rem;

      .product-condition {
        text-align: start;
        overflow-wrap: break-word;
        word-break: break-word;
      }
    }

    .product-variant-select {
      text-align: start;
    }
  }

  //.product-information-right {
  //  width: 33%;
  //  text-align: left;
  //
  //  .product-title {
  //
  //  }
  //}
}

.redeem-card-error {
  margin: 5% auto 0;
  width: 90%;
}

.redeem-card-actions {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  div {
    //position: absolute;
    //bottom: 0;

    .MuiButton-root {
      min-width: auto;
      white-space: nowrap;
      padding: 1rem 2rem;
      margin: 0 1rem 1rem 0;
    }
  }

  .redemptionUrl-container {
    position: absolute;
    bottom: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;


    .redemptionUrl-prompt {
      margin: 0 1rem 0 0;
      //width: 50%;
      padding: 0 0 0.5rem;
      text-align: right;
    }

    .MuiButton-root {
      //border-radius: 0;
      min-width: auto;
      white-space: nowrap;
      padding: 1rem 2rem;
      margin: 0 1rem 1rem 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  .full-container {
    display: inline-block;
    overflow-y: scroll;
  }

  .product-information-container {
    flex-direction: column;
    justify-content: space-around;

    .product-information-left {
      width: 100%;

      .product-image {
        width: 70%;
      }
    }

    .product-information-center {
      width: 100%;
      padding: 0;
    }

    .product-information-right {
      width: 90%;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }
  }

  .redeem-card-error {
    margin: 35% auto 0;
    width: 90%;
  }

  .redeem-card-actions div {
    bottom: 2rem;
    width: 100%;
    position: static;
    margin-top: 1rem;
    padding-bottom: 2rem;

    .redeem-button {
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }
}
