.App {
  text-align: center;
  margin-top: 24px;
}

.split {
  display: flex;
  justify-content: space-around;
}

.top-margin-buffer {
  margin-top: 1rem;
}

.left-margin-buffer {
  margin-left: 1rem;
}
